:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.robotImages{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
}

img{
  max-width: 20vw;
  border: 3px solid black;
  border-radius: 5px;
}

img:hover{
  box-shadow: 4px 5px lightblue;
  cursor: pointer;
}

input{
  margin: 0.5em;
}